/* Color variables */
:root {
    --accentuate-color: #71EEF7;
}

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Inter, sans-serif;
    background: linear-gradient(#021925, #021021);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    backdrop-filter: brightness(1) blur(0);
    transition: backdrop-filter 0.3s ease-in-out;
}

.overlay.active {
    z-index: 1;
    backdrop-filter: brightness(0.5) blur(10px);
}

h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 20px 0;
    text-align: center;
}

/* Header styles */
header {
    background: radial-gradient(circle, #183a60 50%, #102842 100%);
    /*background-color: #1C5D99;*/
    height: 70px;
    padding: 10px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 100%;
    flex-shrink: 1;
    margin: auto 0;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    flex-shrink: 1;
    gap: 10px;
    color: #ffffff;
    margin: auto 0;
}

.logo img {
    height: 100%;
    border-radius: 10px;
    pointer-events: none;
}

.logo h5 {
    font-size: 24px;
    user-select: none;
}

header a {
    color: #ffffff;
    text-decoration: none;
    padding: 12px 24px;
    background-color: var(--accentuate-color);
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

header a:hover {
    background-color: #ffffff;
    color: #140400;
    transform: scale(1.05);
}

header a:active {
    transform: scale(0.95);
}

/* Main styles */
main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 0 20px;
    max-width: 1000px
}

section {
    padding: 40px;
    border-radius: 10px;
    background: radial-gradient(circle, #183a60 50%, #102842 100%);
    /*background-color: #1C5D99;*/
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border: white 1px solid;
    color: white;
    width: 100%;
}

#hero {
    text-align: center;
}

#hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #1f212e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    resize: none;
}

header a {
    display: inline-block;
    padding: 12px 24px;
    background-color: #12738E;
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

header a:hover {
    background-color: var(--accentuate-color);
    color: black;
    transform: scale(1.05);
}

header a:active {
    transform: scale(0.95);
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#empty-string {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.card {
    background: linear-gradient(#12738E, #072738);
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 300px;
}

.card.important {
    background: linear-gradient(#EABC87, #C07D53);
    color: black;
}

.card-header {
    height: 100%;
    cursor: pointer;
}

.card-header h4 {
    position: absolute;
    width: 260px;
    text-align: right;
    font-size: smaller;
    font-weight: 300;
}

.card-header h3 {
    position: relative;
    top: 50%;
    font-size: x-large;
    font-weight: 600;
    text-align: center;
    transform: translateY(-50%);
}

.card-body {
    display: none;
    text-overflow: clip;
    overflow: auto;
    position: absolute;
    background: linear-gradient(#021021, #020315);
    height: fit-content;
    max-height: 90%;
    width: 90%;
    max-width: 900px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 30px;
    opacity: 100%;
    border-radius: 20px;
    z-index: 2;
}

.card-body button {
    display: inline-block;
    position: absolute;
    font-size: 24px;
    background: none;
    border: none;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.card.visible .card-body {
    display: block;
    animation: card-appear 0.7s ease-out;
}

.card.hiding .card-body {
    animation: card-disappear 0.7s ease-out;
}

.card-body h2 {
    font-size: 24px;
    font-weight: 700;
}

.card-body h4 {
    font-size: 14px;
    margin-bottom: 30px;
}

.card-body h2, .card-body h4 {
    margin-left: 50px;
}

.card-body span {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0 50px;
    line-height: 1.5em;
}

.card-body ol, .card-body ul {
    margin: 10px 30px;
    padding: initial;
    list-style: initial;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #12738E;
    color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--accentuate-color);
    color: black;
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
    background-color: rgba(85, 173, 115, 0.8);
}

button.button {
    border: none;
    outline: none;
    font-size: 16px;
}


/* Styles pour les appareils mobiles */
@media (max-width: 767px) {
    /* Modifiez les styles selon vos besoins */
    .logo h5 {
        font-size: 20px;
        white-space: pre-line;
    }

    header {
        justify-content: space-between;
    }

    header a {
        padding: 8px 16px;
    }

    section {
        padding: 20px;
    }

    .discord-widget {
        display: none;
    }
}

@media (max-width: 500px) {
    /* Modifiez les styles selon vos besoins */
    .logo h5 {
        display: none;
    }

    nav ul li a {
        padding: 6px 12px;
    }

    section {
        padding: 10px;
    }

    .card-body span {
        padding: 0;
    }
}

@keyframes card-appear {
    0% {
        overflow: hidden;
        opacity: 50%;
        max-height: 50%;
    }

    60% {
        opacity: 100%;
    }

    100% {
        overflow: hidden;
        max-height: 90%;
    }
}

@keyframes card-disappear {
    0% {
        overflow: hidden;
        opacity: 100%;
        max-height: 90%;
    }

    30% {
        max-height: 50%;
    }

    100% {
        overflow: hidden;
        opacity: 0;
        max-height: 35%;
    }
}