/* Color variables */
:root {
    --accentuate-color: #71EEF7;
}

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Inter, sans-serif;
    background: linear-gradient(#021925, #021021);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Header styles */
header {
    background: radial-gradient(circle, #183a60 50%, #102842 100%);
    /*background-color: #1C5D99;*/
    height: 70px;
    padding: 10px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 100%;
    flex-shrink: 1;
    margin: auto 0;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    flex-shrink: 1;
    gap: 10px;
    color: #ffffff;
    margin: auto 0;
}

.logo img {
    height: 100%;
    border-radius: 10px;
    pointer-events: none;
}

.logo h5 {
    font-size: 24px;
    user-select: none;
}

header a {
    color: #ffffff;
    text-decoration: none;
    padding: 12px 24px;
    background-color: var(--accentuate-color);
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

header a:hover {
    background-color: #ffffff;
    color: #140400;
    transform: scale(1.05);
}

header a:active {
    transform: scale(0.95);
}

/* Main styles */
main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    padding: 0 20px;
    max-width: 1000px
}

section {
    padding: 40px;
    border-radius: 10px;
    background: radial-gradient(circle, #183a60 50%, #102842 100%);
    /*background-color: #1C5D99;*/
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border: white 1px solid;
    color: white;
    width: 100%;
}

section h1 {
    font-weight: 700;
}

#curact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    line-height: 30px;
    background-color: #020315;
    border-radius: 10px;
}

#curact * {
    height: 100%;
}

#curact svg {
    fill: lightgrey;
    height: 50%;
}

#curact span {
    font-size: small;
}

#online-svg.online {
    fill: #2ac96d; !important;
}

#online-svg.offline {
    fill: #da3158; !important;
}

#hero {
    text-align: center;
}

#hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.widget-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}


.discord-widget {
    max-width: 1000px;
    height: 500px;
    background-color: #1f212e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
}


.discord-widget iframe {
    width: 100%;
    height: 100%;
    border: none;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #1f212e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    resize: none;
}

header a {
    display: inline-block;
    padding: 12px 24px;
    background-color: #fdfdfd;
    color: #000000;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

header a:hover {
    background-color: var(--accentuate-color);
    color: black;
    transform: scale(1.05);
}

header a:active {
    transform: scale(0.95);
}

button {
    background: none;
    border: none;
    color: initial;
    font-family: Inter, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px 12px 20px;
    margin: 0 auto;
    height: 2.5em;
    width: fit-content;
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.button button, .button a {
    white-space: nowrap;
}

.button:hover {
    background-color: var(--accentuate-color);
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
    background-color: rgba(85, 173, 115, 0.8);
}

.button span {
    margin-right: 10px;
}

.button img {
    height: 1em;
    /* center vertically */
    margin-right: 10px;
    pointer-events: none;
}

#instagramButton img {
    height: 1.2em;
}

#numbers .wrapper .box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px;
    row-gap: 15px;
}

#numbers .wrapper .box .item h3 {
    margin-bottom: 5px;
}

#numbers span {
    font-weight: 700;
}

/* Styles pour les appareils mobiles */
@media (max-width: 767px) {
    /* Modifiez les styles selon vos besoins */
    .logo h5 {
        font-size: 20px;
        white-space: pre-line;
    }

    header {
        justify-content: space-between;
    }

    header a {
        padding: 8px 16px;
    }

    section {
        padding: 20px;
    }

    .discord-widget {
        display: none;
    }
}

@media (max-width: 500px) {
    /* Modifiez les styles selon vos besoins */
    .logo h5 {
        display: none;
    }

    nav ul li a {
        padding: 6px 12px;
    }

    section {
        padding: 10px;
    }

    #numbers h3 {
        font-size: 12px;
    }
}

@media (pointer: coarse) {
    /* Modifier le comportement des boutons et leur caractéristique hover */
    .button:hover {
        background-color: white;
        transform: none;
    }
}